.nav {
  grid-area: n;
  background-color: rgb(77, 156, 77);
  padding: 15px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
  font-style: italic;
  font-weight: bold;
}