.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1500px;
    width: 100%;
    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.testClass {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(105, 128, 0);
}