.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .dialog {

}


.messages {
    padding: 10px;
}

.messages .message {

}

.active {
    color: gold;
}